.box{
background-color: #fff;/* серый цвет*/
width:300px;/* ширина*/
height: 400px; /* высота*/
height: 400px; /* высота*/
height: 400px; /* высота*/
height: 400px; /* высота*/
height: 400px; /* высота*/
position: center;
border:2px solid #aeaeae;
padding:20px 30px 20px 30px;
}

